.fira-sans-condensed-thin {

    font-family: "Fira Sans Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "width" 100;

}

.full {
    margin-left: 80px;
    margin-right: 80px;
    background-color: #ebedf8;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background-color: white;
    color: rgb(9, 161, 92);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    border: 2px solid rgb(9, 161, 92);
    text-align: center;


}
.button:hover{
    background-color: #C6E4D6;
}
h1 {
    font-size: 40px;
  }

/* Banner Design */

.banner {
    display: flex;
    background-color: #C6E4D6;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 80px 100px;
}

.banner-body {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.banner-heading {
    color: rgba(14, 14, 14, 0.5);
}

.banner-p {
    font-weight: bold;
    font-size: 56px;
}

.banner-btn {
    background-color: rgb(0, 106, 80);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 20px;
}

.banner-btn:hover{
    background-color:#022d20e2;
}

/* Pillars of BD 2.0 */

.pillars-body{
    display: flex;
    justify-content: space-between; 
    text-align: left;
    gap: 50px;
    
}

.pillar{
 flex: 1;
 background-color: rgb(239, 247, 247);
 padding: 40px 20px;
 border-radius: 10px;
}

/* Future Vision */

.vision-body {
 text-align: left;
}

.vision-box {
 display: flex;
 flex-direction: row;
 gap: 50px;
 background-color: transparent; 
 padding: 0; 
 border: none; 
 
}

#green {
 background-color: #C6E4D6;
 padding: 20px;
 border-radius: 10px;
 width: 450px;
 height: 250px;


}

#blue {
 background-color: #bad3ec;
 padding: 20px;
 border-radius: 10px;
 width: 450px;
 height: 250px;
}

#yellow {
 background-color: #F7EBCF;
 padding: 20px;
 border-radius: 10px;
 width: 450px;
 height: 250px;
}

.button-green {
 background-color: rgb(9, 161, 92);
 border: none;
 border-radius: 5px;
 padding: 10px;
 color: white;
 font-weight: bold;
}

.button-ylw {
 background-color: #FFC239;
 border: none;
 border-radius: 5px;
 padding: 10px;
 color: white;
 font-weight: bold;
}

.button-blue {
 background-color: #5490F5;
 border: none;
 border-radius: 5px;
 padding: 10px;
 color: white;
 font-weight: bold;
}

.button-blue:hover {
 background-color: rgb(55, 82, 182);
}

.button-green:hover {
 background-color: rgb(3, 96, 54);

}

.button-ylw:hover {
 background-color: rgb(245, 146, 71);
}

/* Quote */

.quote-box {
    background-color:white;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

.author {
    font-weight: bold;
}

/*Opinion Matters*/

h1 {
    text-align: left;
}

table {
    width: 100%;
    margin: 20px;
    border-collapse: collapse;
    font-size: 16px;
    background-color: white;
}

.box {
    display: flex;
    background-color: white;
    width:100%;
    height:fit-content;
    border-radius: 10px;
}
th,
td {
    border: 1px solid #afcdbf;
    padding: 12px;
    text-align: left;
}

th {
    background-color:  #C6E4D6;
    font-weight: bold;
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #C6E4D6;
    border-radius: 5px;
    background-color:  #C6E4D6;
    cursor: pointer;
}

select:hover {
    background-color: #78eece;
}

/* Recent news */


.news-box {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;

}

.satelite {
    border-radius: 30px;
}

.news-btn {
    background-color: rgb(9, 161, 92);

    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;

}


.news {
    max-width: 50%;
}

.news-reverse {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;
}


.news-btn:hover{
    background-color: #004d36;
}


.date {
    display: block;
}

/* Donate */

.donate-body {
    text-align: center;
}

.tk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

}

.btn-tk {
    color: rgb(57, 56, 56);
    padding: 30px 50px;
    border: none;
    border-radius: 5px;
    font-size: xx-large;
    font-weight: bold;
}

.btn-tk:hover{
    background-color: #C6E4D6;
}

.form {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px 350px ;
   

}

.donate-btn {
    background-color: rgb(33, 160, 105);
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}
.donate-btn:hover{
    background-color: #004d36;
}
/* Newsletter */

.newsletter {
    background-color: #C6E4D6;
    padding: 60px;
    text-align: center;
    border-radius: 8px;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;
}



.subscribe-btn {
    padding: 15px 30px;
    border: none;
    background-color: rgb(33, 160, 105);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.email-input {
    flex: 1;
    padding: 15px;
    border: none;
    border-right: 2px solid #006A4E;
    background-color: white;
    color: #333;
    font-size: 16px;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.subscribe-btn:hover {
    background-color: #004d36;
}

/* Footer */

.ending {
    background-color:white;
    padding: 20px;
}

#end-heading {
    text-align: center;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0;
    gap: 15px;
}
/* Newsletter */

.newsletter {
    background-color: #C6E4D6;
    padding: 60px;
    text-align: center;
    border-radius: 8px;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;
}



.subscribe-btn {
    padding: 15px 30px;
    border: none;
    background-color: rgb(33, 160, 105);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.email-input {
    flex: 1;
    padding: 15px;
    border: none;
    border-right: 2px solid #006A4E;
    background-color: white;
    color: #333;
    font-size: 16px;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.subscribe-btn:hover {
    background-color: #004d36;
}

/* Footer */

.ending {
    background-color:white;
    padding: 20px;
}

#end-heading {
    text-align: center;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0;
    gap: 15px;
}